<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/submit" method="post">
    <table border="1">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((row, index) => { %>
                <tr>
                    <td><%= row.roll_number %></td>
                    <td><%= row.name %></td>
                    <td>
                        <input type="radio" name="<%= row.name %>" value="on" <%= row.status === 'on' ? 'checked' : '' %>>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <input type="submit">
</form>
<script src="script.js"></script>
</body>
</html>